<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735266673253-eof6h3p3um3go6l89rqum7s3j55nq15l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735266673253-eof6h3p3um3go6l89rqum7s3j55nq15l</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZhM8IjBlo5uGE_2Ro2a3Y2zwTklq144</string>
	<key>GCM_SENDER_ID</key>
	<string>735266673253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterFirestore</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-94173</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-94173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735266673253:ios:0fcc4089f24c906a462c8c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sample-94173.firebaseio.com</string>
</dict>
</plist>